<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Rental</title>
</head>
<tbody>
<header><h1>Spring Test:</h1></header>
<main>
    <h2>Nos véhicules disponibles:</h2>
    <ul>
        <tr th:each="car: ${cars}">
            <li>
                <td th:text="${car.id}"/>
                <td th:text="${car.brand}" />
                <td th:text="${car.color}" />
        </tr>
        </li>

    </ul>
</main>
<footer>Ceci est un test</footer>

</tbody>
</html>